<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.title }}</h2>
    <div class="offer-details">
       <ion-icon name="calendar" color="primary"></ion-icon>
       <ion-text color="tertiary" class="space-left">{{ getDummyDate() | date }}</ion-text>
       <span class="space-left">to</span>
       <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
       <ion-text color="tertiary" class="space-left">{{ getDummyDate() | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>
